@import "../../styles/application.scss";

.form {
  width: 50%;
  padding: 30px 0;
  @include flexBox(false, center, column);

  &__field {
    width: 100%;
    margin: 15px 0 2px;
    padding: 8px;
    border: 1px solid $boxShadowColor;
    border-radius: 4px;
  }
  &__error {
    align-self: flex-start;
    @include fontStyle(12px, $red);
  }
}

.repos {
  margin: 20px 0 50px;
  @include flexBox(false, false, column);
  span {
    margin-bottom: 10px;
    @include fontStyle(18px, false, false, 700);
  }
}

@media screen and (max-width: 768px) {
  .form {
    width: 100%;
  }
}
