@mixin flexBox(
  $justifyContent: false,
  $alignItems: false,
  $direction: false,
  $flexWrap: false
) {
  display: flex;
  @if $justifyContent {
    justify-content: $justifyContent;
  }
  @if $alignItems {
    align-items: $alignItems;
  }
  @if $direction {
    flex-direction: $direction;
  }
  @if $flexWrap {
    flex-wrap: $flexWrap;
  }
}

@mixin fontStyle(
  $fontSize: false,
  $color: false,
  $lineHeight: false,
  $fontWeight: false
) {
  @if $fontSize {
    font-size: $fontSize;
  }
  @if $color {
    color: $color;
  }
  @if $lineHeight {
    line-height: $lineHeight;
  }
  @if $fontWeight {
    font-weight: $fontWeight;
  }
}
