@import "../../styles/application.scss";

.wrap {
  min-height: 100vh;
  @include flexBox(center, center, column);
}

.form {
  width: 300px;
  border-radius: 20px;
  padding: 30px 20px 10px;
  box-shadow: 0 4px 8px rgba($black, 0.4);
  margin-bottom: 15px;
  @include flexBox(false, center, column);

  &__field {
    width: 100%;
    margin: 15px 0 2px;
    padding: 8px;
    border: 1px solid rgba($black, 0.4);
    border-radius: 4px;
  }
  &__error {
    align-self: flex-start;
    @include fontStyle(12px, $red);
  }
  &__checkboxWrap {
    align-self: flex-start;
    margin: 10px 0 0;
    @include flexBox();
    label {
      margin-right: 20px;
    }
  }
}
